body{
    margin: 0;
    padding: 0;
    background: grey;
}
/* Encabezado */
fieldset{
    border-radius: 10px;
}
fieldset h1 {
    text-align: center;
    background-color: #4c516d;
    color: white;
    font-family: 'Outfit', sans-serif;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 30px;
}
/* Estructura pagina */
.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 9fr;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* Barra de Navegador */
.columna-nav{
    height: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20;
    background-image: url(./gradient-connection-background_23-2150462053.avif);
    border-radius: 10px;
    gap: 20px
}
.botones{
    opacity: 0.5;
    border: 1px;
    border-radius: 20px;
	position: relative;
	overflow: hidden;    
}
.botones a {
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
}
/* Informacion de la pagina */
.text{
    height: 120%;
    background-color: rgb(6, 14, 37);
    margin: none;
    border-top: 10px solid #515c75;
    border-left: 10px solid #515c75;
    border-radius: 5px;
    
    display: grid;
    grid-template-columns: ;
}