* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: grey;
}
/* Encabezado */
fieldset{
    border-radius: 10px;
    border: 0;
}
fieldset h1 {
    text-align: center;
    background-color: #4c516d;
    color: white;
    font-family: 'Outfit', sans-serif;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 30px;
}
/* Estructura pagina */
.contenedor{
    max-width: 1920px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 11fr;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
/* Barra de Navegador */
.columna-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background-image: url(../img/Imagen_navbar.avif);
    border-radius: 10px;
    gap: 20px
}
.botones{
    opacity: 0.5;
    min-width: 85px;
    border-radius: 20px;
	position: relative;
	overflow: hidden;    
}
.botones a {
    font-size: 125%;
    text-decoration: none;
    text-align: center;
    color: black;
}
/* Informacion de la pagina */
.informacion{
    height: 100%;
    background-color: rgb(6, 14, 37);
    margin: none;
    border-top: 10px solid #515c75;
    border-left: 10px solid #515c75;
    border-radius: 5px;
    
    gap: 20px;
}
.parrafo_1-1, .parrafo_2-1, .parrafo_3-1, .parrafo_4-1{
    width: 90%;
    background-color: #2F364D;
    border-radius: 20px;
	min-height: 150px;
	padding: 20px;
    margin: 20px;
	position: relative;
	overflow: hidden;

    display: grid;
    grid-template-columns: 4fr 1fr
}
.texto {
    color: white;
    font-size: 20px;
}
.bandera {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.accordion-body{
    font-size: 16px;
    color: white;
    background-color: #2F364D;
}
.accordion-button {
    color: red;
}
